<!doctype html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Ads For Charity!</title>
        <script data-ad-client="ca-pub-3746771161732243" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body>
        The goal of this page is to gain ad revenue for views and donating all proceeds to a charity!
    </body>
</html>